<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44579919861-1cs8jueb7p2sbf12l551b2oj3f9lkbpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44579919861-1cs8jueb7p2sbf12l551b2oj3f9lkbpf</string>
	<key>API_KEY</key>
	<string>AIzaSyD9_l-yU3ZlaRH1Ab5FD038rxZ9nCHt74c</string>
	<key>GCM_SENDER_ID</key>
	<string>44579919861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IlaydaKodal.OpenMovieDatabase</string>
	<key>PROJECT_ID</key>
	<string>openmoviedatabase-7a199</string>
	<key>STORAGE_BUCKET</key>
	<string>openmoviedatabase-7a199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44579919861:ios:284c2908ac7b32936932bc</string>
</dict>
</plist>